# Учетные данные
*.env
config.js
secrets.js
api.txt

# SSH ключи
ssh*
*.zip
ssh_extracted/
extracted_key/
ssh_key_worksheet/

# Node.js
node_modules/
package-lock.json

# Локальные скрипты запуска
run_server.py
start_server.bat
start.bat
*.log

# База данных
server/sonotracker.db